body {
	margin: 0 auto;
  background-color: #ccc;
padding-top: 10%;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;

  }






@import 'modules/_transcript';
@import 'modules/_tv_player';
