body {
	margin: 0 auto;
  background-color: #ccc;
padding-top: 10%;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;

  }

  .audiocont {
    margin-top: 20%;
  }

#audios {
    padding-bottom: 10%;
    width: 500px;
    height: 500px;
    background-image: url('/images/heyjude.jpg');
    background-size: cover;
    position: relative;
  }

// #audios img {
//   width: 40%;

// }


#audios audio{
  position: absolute;
  top:100%;
  left:50%;
  right:50%;
  bottom: 0;
  width: 100%
}
  





@import 'modules/_transcript';
@import 'modules/_tv_player';
