<div class="col-lg-4">
			<div class="transcriptArea1">

				<div id="transcriptWrapper">
					<h5>TEST</h5>
					<ul id="transcript">
						  <li class="speaker1">TEST</li>
						<li class="speaker1">That’s our cue to skidoo! </li>
						<li class="speaker1">[Door closes loudly] </li>
						<li class="speaker1">Quick Scooby! Put this key in a safe place!</li>
						  <li class="speaker1">[Scooby barks]</li>
						<li class="speaker1">Oh no! Another door!</li>
						<li class="speaker1">[Villain's name] wont be able to open the door now!</li>
						<li class="speaker1">Oh no! It opened the other way!</li>
						<li class="speaker1">Quick Scoob! Give me the key!</li>
						 <li class="speaker1">[Scooby points at the key outside]</li>
						<li class="speaker1">You threw it out the window?!</li>
						<li class="speaker1">The songwriter who plays the same melody over and over again</li> 
						<li class="speaker1">[Villain laughs]</li>
						<li class="speaker1">TWe gotta get that key and get out of here!</li>
						
						<li class="speaker1">Got it!</li>
						<li class="speaker1">Now we can get out if here! </li>
						
						<li class="speaker1">[Villain screams]</li> 
				</div>
			</div>
		</div>